#abonnes {
  cursor: pointer;
}

#abonnements {
  cursor: pointer;
}


.creator-size{
    width: 300px;
    font-size: 30px;
}

#thumb {
  width: 80px;
}

.score {
  width: 225px;
}

@media screen and (max-width: 1024px) {
  .creator-size {
    width: 250px;
    font-size: 25px;
  }

  #thumb {
    width: 60px;
  }
}

@media screen and (max-width: 667px) {
  .creator-size {
    width: 260px;
    font-size: 25px;
  }

  #thumb {
    width: 60px;
  }
}
/* */
.scores-size {
  width: 100px;
  margin-right: 100px;
}

@media screen and (min-width: 720px) {
  .score {
    width: 225px;
  }
}

@media screen and (min-width: 800px) {
  .scores-size {
    width: 200px;
  }
  .score {
    width: 450px;
  }
}

@media screen and (min-width: 1000px) {
  .scores-size {
    width: 95px;
  }
  .score {
    width: 190px;
  }
}

@media screen and (min-width: 1200px) {
  .scores-size {
    width: 100px;
  }
  .score {
    width: 265px;
  }
}

.underline {
  text-decoration: underline;
}
.emailsUsersBox,
.titlesQuizzBox {
  cursor: pointer;
}

.no-score{
    margin-left: 12px;
    width: 414px;
}


@media screen and (min-width: 300px){
    .score{
        width: 225px;
    }
    .no-score{
        margin-left: 12px;
        width: 350px;
    }
}

@media screen and (min-width: 400px){
    .score{
        width: 225px;
    }
    .no-score{
        margin-left: 12px;
        width: 400px;
    }
}

@media screen and (min-width: 800px) { /* Ipad */
    .scores-size{
        width: 200px;
    }
    .score{
        width: 450px;
    }
    .no-score{
        margin-left: 12px;
        width: 695px;
    }
}

@media screen and (min-width: 1200px) {/* 720p */
    .scores-size{
        width: 100px;
    }
    .score{
        width: 265px;
    }
    .no-score{
        margin-left: 12px;
        width: 358px;
    }
}
@media screen and (min-width: 1400px) { /* 1080p */
    .scores-size{
        width: 100px;
    }
    .score{
        width: 265px;
    }
    .no-score{
        margin-left: 12px;
        width: 420px;
    }
}

/********
* Title: Vertical alignment in css responsive
* Author: Mohammad Usman
* Date: 12/12/21
* Code version: unknown
* Availability: https://stackoverflow.com/questions/40523043/vertical-alignment-in-css-responsive
*/
.in-middle{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
  }

/*  ##################################   SEARCH BOX   #########################################      */

/********
* Title: How to make a flat design search box | HTML & CSS
* Author: GeekBase
* Date: 9/12/21
* Code version: unknown
* Availability: https://www.youtube.com/watch?v=csY6KW7cIUM
*/

.boxContainer {
  margin-left: 70%;
  width: 350px;
  height: 42px;
  border: 4px solid #2980b9;
  padding: 0px 10px;
  border-radius: 50px;
}
.elementsContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  font-size: 18px;
  font-family: "Nunito";
  color: #424242;
  font-weight: 500;
}
.search:focus {
  outline: none;
}
.material-icons {
  font-size: 26;
  color: #2980b9;
}

/** END SEARCH BOX FROM GEEK BASE*/



@media only screen and (max-width: 1100px) {
  [class="boxContainer"] {
    margin-left: 75%;
    width: 250px;
  }
}

@media screen and (min-width: 1600px) {
  [class="boxContainer"] {
    margin-left: 75%;
    width: 400px;
  }
}
@media screen and (max-width: 1300px) {
  [class="boxContainer"] {
    margin-left: 70%;
    width: 300px;
  }
}

@media screen and (max-width: 1100px) {
  [class="boxContainer"] {
    margin-left: 70%;
    width: 250px;
  }
}

@media screen and (max-width: 900px) and (min-width: 701px) {
  [class="boxContainer"] {
    margin-left: 70%;
    width: 200px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  [class="boxContainer"] {
    margin-left: 70%;
    width: 150px;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  [class="boxContainer"] {
    margin-left: 50%;
    width: 170px;
  }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
  [class="boxContainer"] {
    margin-left: 50%;
    width: 150px;
  }
}

@media screen and (min-width: 291px) and (max-width: 350px) {
  [class="boxContainer"] {
    margin-left: 40%;
    width: 170px;
  }
}

@media screen and (min-width: 260px) and (max-width: 290px) {
  [class="boxContainer"] {
    margin-left: 35%;
    width: 170px;
  }
}

@media screen and (max-width: 259px) {
  [class="boxContainer"] {
    margin-left: 20%;
    width: 150px;
  }
}
/*  ##################################   REGISTER/LOGIN PAGE   #########################################      */
/***************************************************************************************
*    Title: Log In / Sign Up - pure css - #12
*    Author: Ivan Grozdic
*    Date: July 4, 2020
*    Code version: unknown
*    Availability: https://codepen.io/ig_design/pen/KKVQpVP
*
***************************************************************************************/

.cards-single {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
  border-radius: 16px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  text-align: center;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
}

.cards-single.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card-3d-wrap {
  position: relative;
  width: 475px;
  max-width: 100%;
  height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 6px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-back {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px); /*ptt ici*/
  z-index: 20;
  display: block;
}

/*  ##################################   GAME PAGE   #########################################      */

.padding-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

#theQuestion {
  font-size: 30px;
}

@media screen and (min-width: 720px) {
  .padding-card {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #theQuestion {
    font-size: 25px;
  }
}

.cards__single {
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
}

.cards__single.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.cards__back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  color: #20263f;
}

.answer {
  cursor: pointer;
}

/* La Page d'accueil */

#HomePageId .card {
  animation: fadeInAnimation ease 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  width: 80%;
}
#HomePageId .card-text {
  min-height: 4em;
  height: auto;
}
#HomePageId .btnJouer {
  width: 100%;
}
#HomePageId .card-subtitle {
  cursor: pointer;
}
#HomePageId #refresh_btn {
  width: 20px;
  cursor: pointer;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* La page Créer un Quizz */

#CreateQuizzId *[id^="numQ"] {
  color: white;
  font-size: large;
}

#CreateQuizzId *[id^="reponse"] {
  background-color: #d8d8d8;
  width: 80%;
}

#CreateQuizzId *[id^="enonceQ"] {
  background-color: #d8d8d8;
  width: 100%;
}

#CreateQuizzId *[id^="closeQ"] {
  height: auto;
  width: 40px;
}
#CreateQuizzId #errorTitle {
  color: red;
}

#CreateQuizzId *[id^="errorQ"] {
  color: red;
}

/* Navbar */
#logoSG {
  height: 80px;
  cursor: pointer;
}
